* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-one : papayawhip;
    --color-two : salmon;
    --shadow-one : 0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 4px 4px rgba(3, 7, 18, 0.03),
    0px 9px 9px rgba(3, 7, 18, 0.05),
    0px 16px 15px rgba(3, 7, 18, 0.06),
    0px 25px 24px rgba(3, 7, 18, 0.08);

}

body {
    background-image: url('images/lemons.jpg');
}

#content {
    display:flex;
    flex-direction: column;
    width: auto;
    height: 100vh;

}

#header {
    position: fixed;
    top:0;
    left:0;
    min-height:60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--color-two);
    color: white;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--shadow-one);
    z-index: 2;
}

#logo {
    min-height: 60px;
    background-image: url(./images/logo.png);
    background-size: contain;
    width: 330px;
    flex-shrink: 0;
}

#navbar {
    display: flex;
    gap: 10px;
}

.navbtn {
    min-height: 50px;
    width:100px;
    margin: 5px 5px 5px 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    transition: 0.5s;
    user-select: none;
}

.navbtn:hover {
    background-color: var(--color-one);
    color: black;
}

.selected {
    background-color: var(--color-one);
    color: black; 
}

#footer {
    text-align: right;
    padding: 5px 5px 5px 5px;
    margin-top: auto;
}

/* container style */

#main {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    justify-content: center;
    margin: 150px 0 0 0;
    transition: 1s;
}

[id^='container'] {
    display:flex;
    flex-wrap: wrap;
}

[id^='innercontainer'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[id^='description'] {
    padding: 25px 25px 25px 25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

[id^='bordercontainer'] {
    position: relative;
    border:2px solid white;
    background-color: var(--color-two);
    border-radius: 25px;
    padding: 25px;
    box-shadow: var(--shadow-one);
}

[id^='innercontainer'] {
    background-color: var(--color-one);
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}

[id^='placeholderemb'] {
    display:flex;
    align-items: center;
}

[id^='embellishment1'],
[id^='embellishment3'] {
    min-width:40px;
    min-height:40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--color-two);
    box-shadow: var(--shadow-one);
}

[id^='embellishment2'] {
    width:50px;
    height:50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: var(--color-two);
    box-shadow: var(--shadow-one);
}

[id^='spancontainer'] {
    min-width: 300px;
}

[id^='title'] {
    align-self: flex-start;
    font-size: 35px;
    padding:20px 0 20px 0;
}